import streamlit as st
import requests

st.title("{{ endpoint }}")

st.sidebar.header("Paramètres")
{% for param in parameters %}
{{ param['name'] }} = st.sidebar.text_input("{{ param['name'] }}", "")
{% endfor %}

if st.button("Envoyer la requête"):
    params = { {% for param in parameters %} "{{ param['name'] }}": {{ param['name'] }}, {% endfor %} }
    response = requests.{{ method.lower() }}("{{ base_url }}{{ endpoint }}", params=params)
    st.json(response.json())
