import os
import requests
from typing import Union
from dotenv import load_dotenv

load_dotenv()

BASE_URL = os.getenv("BASE_URL")

def {{ function_name }}({{ parameters_signature }}) -> Union[dict, None]:
    """
    Function to call the {{ method.upper() }} request on the {{ endpoint }} endpoint.
    {{function_params_description}}
    """
    endpoint_url = f"{BASE_URL}{{ endpoint }}"
    headers = {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    }
    {% if json_data %}
    data = {
        {{ json_data }}
    }
    {% endif %}
    response = requests.{{ method }}(endpoint_url, headers=headers{% if json_data %}, json=data{% endif %})
    
    {{ responses_format }}